<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_01</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_02</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_03</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_04</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_05</string>
			</dict>
		</array>
		<key>name</key>
		<string>同事</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_01</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_02</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_03</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_04</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_05</string>
			</dict>
		</array>
		<key>name</key>
		<string>同学</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_01</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_02</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_03</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_04</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_05</string>
			</dict>
		</array>
		<key>name</key>
		<string>家人</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_01</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_02</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_03</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_04</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_05</string>
			</dict>
		</array>
		<key>name</key>
		<string>伙伴</string>
		<key>online</key>
		<string>3</string>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_01</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_02</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_03</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_04</string>
			</dict>
			<dict>
				<key>nick</key>
				<string>siri</string>
				<key>qm</key>
				<string>陪你走过春夏秋冬~~</string>
				<key>icon</key>
				<string>icon_05</string>
			</dict>
		</array>
		<key>name</key>
		<string>陌陌</string>
		<key>online</key>
		<string>3</string>
	</dict>
</array>
</plist>
