<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelTextDayColor</key>
	<string>0,255,0</string>
	<key>labelBackgroundDayColor</key>
	<string>255,0,255</string>
	<key>label_textColor</key>
	<string>88, 180, 66</string>
	<key>label_bgColor</key>
	<string>77, 130, 88</string>
</dict>
</plist>
